.attribution {
  font-size: 0.7rem;
  text-align: center;
  background-color: var(--main-background-color);
  border-radius: 1rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

.attribution a {
  color: var(--orange-text-color);
}
