main {
  background-color: var(--main-background-color);
  width: min(28rem, 80%);
  margin: auto 0;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--white-text-color);
  }

  p {
    color: var(--grey-text-color);
  }
}
