main {
  background-color: var(--main-background-color);
  width: min(28rem, 80%);
  margin: auto 0;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    color: var(--white-text-color);
  }

  p {
    color: var(--grey-text-color);
  }
}

.rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: var(--what-is-color);
  color: var(--grey-text-color);
}
button:hover {
  background-color: var(--orange-text-color);
  color: var(--main-background-color);
}

.submitButton {
  background-color: var(--orange-text-color);
  color: var(--main-background-color);
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.5rem;
}
