.main2 {
  display: none;
  // display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .selected {
    width: 75%;
    border-radius: 1rem;
    background-color: var(--what-is-color);
    color: var(--orange-text-color);
    display: flex;
    justify-content: center;
    padding: 0.3rem;
  }
}

.text {
  color: var(--orange-text-color);
  text-align: center;
  width: 100%;
}

.remarks {
  text-align: center;
}
