:root {
  --background-color: hsl(216, 12%, 8%);
  --main-background-color: hsl(213, 19%, 18%);
  --what-is-color: hsl(213, 18%, 20%);
  --grey-text-color: hsl(217, 12%, 63%);
  --white-text-color: hsl(0, 0%, 100%);
  --orange-text-color: hsl(25, 97%, 53%);
}
